<!DOCTYPE html>
<html lang="en" ng-app="real_time_doc">
<head>
    <meta charset="utf-8">
    <title>Real Time Document Editor</title>

    <link rel="stylesheet" type="text/css" href="/front/css/bootstrap.min.css" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/front/js/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/front/js/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="/front/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/front/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/front/js/lib/angular-resource.min.js"></script>

    <!-- Main Angular Application -->
    <script type="text/javascript" src="/front/js/app.js"></script>
</head>
<body>
<div class="container">
    <ng-view></ng-view>
</div>
</body>
</html>